html, body, .header {
  margin: 0;
  padding: 0;
}

body {
  /** font-family: "Droid Serif", Georgia, serif; **/
  font-family: Google Sans,Roboto,Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  color: #333333;
  background-color: white;
}

img {
  max-width: 100%;
}

.header {
  /** box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05) !important; **/
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
  padding: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
}

main {
  padding: 2em;
}

main,
.header .container {
  max-width: 740px;
  margin: auto;
}

.header .navigation {
  float: right;
  color: #555;
}

.header .title {
  font-size: 1.3125rem;
  font-weight: 500;
  /** font-family: "Roboto", "Helvetica", "Arial", sans-serif; **/
  line-height: 1.16667em;
}

.title {
  margin-left: -1em;
}

.header .navigation a {
  color: unset;
  /** text-decoration: none; **/
  margin-right: 1em;
}

.navigation {
  margin-right: 1em;
}

.header .title a,
.catalogue-title a,
.catalogue-body a {
  text-decoration: none;
  color: unset;
}

main {
  padding-top: 6em;
}

.catalogue-item {
  border-bottom: 1px solid #e5e5e5;
  color: #333333;
  display: inline-block;
  padding: 1rem 0;
  width: 100%;
}

.catalogue-time {
  color: #aaa;
  letter-spacing: .5px;
  font-size: 0.7em;
  text-transform: uppercase;
}

.catalogue-title {
  font-size: 2em;
  line-height: 2em;
  /** font-family: "Source Sans Pro", sans-serif; **/
  font-weight: 900;
  margin: 0;
  display: flex;
  margin-bottom: 0.25em;
}

.catalogue-title a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.catalogue-body {
  line-height: 1.8em;
}

.pagination {
  padding-top: 30px;
  padding-bottom: 30px;
  clear: both;
}

.pagination .left {
  float: left;
}

.pagination .right {
  float: right;
}

footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f8f9fa;
  border-top: 1px solid #dadce0;
}

/**
 * Link placement and hover behavior.
 */

.anchorjs-link {
  color: inherit !important;
  text-decoration: none !important; /* do not underline */
}

@media (max-width: 768px) {
  /* Do not display AnchorJS icon on less than 768px view point */
  .anchorjs-link {
    display: none;
  }
}

*:hover > .anchorjs-link {
  opacity: .75;
  /* To fade links as they appear, change transition-property from 'color' to 'all' */
  -webkit-transition: color .16s linear;
  transition: color .16s linear;
}

*:hover > .anchorjs-link:hover,
.anchorjs-link:focus {
  text-decoration: none !important; /* do not underline */
  opacity: 1;
}

.post {
  padding: 3rem 0;
  font-size: 20px;
  font-style: normal;
  letter-spacing: -.002em;
  word-wrap: break-word;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.84);
  /** min-width: 700px; **/
}

.char {
  font-size: 19px !important;
  line-height: 1.58 !important;
  letter-spacing: -.003em !important;
}

.post-info {
  /** color: #aaa; **/
  color: #202124;
  /** font-family: Palatino,"Palatino LT STD","Palatino Linotype","Book Antiqua","Georgia",serif; **/
  letter-spacing: 0.5px;
  text-align: left;
  font-size: 16px;
  margin-left: -6em;
  float: left;
}

.post-date {
  color: #757575;
  font-size: 14px;
}

.post-info span {
  font-style: italic;
}

.post-title {
  color: #202124;
  /** font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif; **/
  font-size: 3rem;
  margin: 1rem 0;
  text-align: left;
  margin-left: -2em;
  margin-bottom: 1em;
}

.post-line {
  border-top: 0.4rem solid #353535;
  display: block;
  margin: 0 auto 3rem;
  width: 4rem;
}

.post-body {
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin-left: 6em;
}

.highlight {
  background-color: #f9f9f9 !important;
  border-radius: 3px;
  line-height: 1.4;
  margin: 0 0 1rem;
  padding: 1rem;
  font-size: 0.9em;
}

blockquote {
  border-left: 0.25rem solid #e5e5e5;
  color: #979797;
  margin: .8rem 0;
  padding: 0rem 1rem;
  line-height: 1em;
}

.pagination {
  max-width: 700px;
  margin: 0 auto;
}

.doc {
  max-width: unset !important;
  padding: unset !important;
}

code {
  white-space: pre-wrap;
}

.highlight {
  margin: 0;
  padding: 0.5em;
}

.catalogue-title {
  line-height: 1.18182;
  font-size: 44px;
  letter-spacing: -.5px;
  font-weight: 400;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  overflow-wrap: normal;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #202124;
  font-weight: bold;
}

.catalogue-body {
  color: #414141;
  line-height: 1.66667;
  font-size: 18px;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

table, td {
  border-spacing: 0;
  border-collapse: collapse;
}

tr {
  border-top: 1px solid #c6cbd1;
}

th {
  border: 1px solid #3367d6;
  padding: 6px 13px;
  background-color: #3367d6;
  color: white;
}

td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

@media only screen and (max-width: 600px) {
  main {
    padding: 1em;
    padding-top: 6em;
  }
  .post {
    padding: 0;
  }
  .post-title, .post-body, .post-info {
    margin-left: 0;
    margin-bottom: 0;
    float: none;
  }
  .post-info {
    margin-bottom: 2em;
  }
  .title {
    margin-left: 0;
  }
}
