html, body, .header {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
    /** overflow: initial !important; **/
}

body {
  /** font-family: "Droid Serif", Georgia, serif; **/
  font-family: Google Sans,Roboto,Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  color: #333333;
  background-color: white;
  overflow-y: hidden;

  counter-reset: figures;
}

img {
  max-width: 100%;
}

figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
}

figcaption {
  counter-increment: figures;

  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

figcaption:before {
  content: 'Figure ' counter(figures) ' - ';
  font-weight: bold;
}

.header {
  /** box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05) !important; **/
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
  padding: 1em;
  /** position: fixed; **/
  /** width: 100%; **/
  top: 0;
  background-color: white;
}

main {
    /** margin: 64px auto auto; **/
    margin: auto;
    /** padding: 2em; **/
    position: absolute;
    /** width: 100%; **/
    overflow-y: scroll;
    /** overflow-x: hidden; **/
    top: 64px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    outline: none;
    /** background-color: white; **/
}

/**
main,
.header .container {
  max-width: 740px;
  margin: auto;
}
**/

.header .navigation {
  float: right;
  color: #555;
  /** margin-right: 1em; **/
}

.header .title {
  font-size: 1.3125rem;
  font-weight: 500;
  /** font-family: "Roboto", "Helvetica", "Arial", sans-serif; **/
  line-height: 1.16667em;
}

.title {
  /** margin-left: -5em; **/
}

.header .navigation a {
  color: unset;
  /** text-decoration: none; **/
  margin-right: 1em;
}

.navigation {
  /** margin-right: 1em; **/
}

.header .title a,
.catalogue-title a,
.catalogue-body a {
  text-decoration: none;
  color: unset;
}

main {
  /** padding-top: 6em; **/
}

.catalogue-item {
  border-bottom: 1px solid #e5e5e5;
  color: #333333;
  display: inline-block;
  padding: 1rem 0;
  width: 100%;
}

.catalogue-time {
  color: #aaa;
  letter-spacing: .5px;
  font-size: 0.7em;
  text-transform: uppercase;
}

.catalogue-title {
  font-size: 2em;
  line-height: 2em;
  /** font-family: "Source Sans Pro", sans-serif; **/
  font-weight: 900;
  margin: 0;
  display: flex;
  margin-bottom: 0.25em;
}

.catalogue-title a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.catalogue-body {
  line-height: 1.8em;
}

.pagination {
  padding-top: 30px;
  padding-bottom: 30px;
  clear: both;
}

.pagination .left {
  float: left;
}

.pagination .right {
  float: right;
}

footer {
  text-align: center;
  margin-top: 2em;
  /** padding-bottom: 30px; **/
  border-top: 1px solid #dadce0;
  height: 4em;
  bottom: 0px;
  background-color: #f8f9fa;
}

/**
 * Link placement and hover behavior.
 */

.anchorjs-link {
  color: inherit !important;
  text-decoration: none !important; /* do not underline */
}

@media (max-width: 768px) {
  /* Do not display AnchorJS icon on less than 768px view point */
  .anchorjs-link {
    display: none;
  }
}

*:hover > .anchorjs-link {
  opacity: .75;
  /* To fade links as they appear, change transition-property from 'color' to 'all' */
  -webkit-transition: color .16s linear;
  transition: color .16s linear;
}

*:hover > .anchorjs-link:hover,
.anchorjs-link:focus {
  text-decoration: none !important; /* do not underline */
  opacity: 1;
}

.post {
  padding: 3rem 0;
  font-size: 20px;
  font-style: normal;
  letter-spacing: -.002em;
  word-wrap: break-word;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.84);
  display: inline-block;
  margin: auto;
  /** margin-left: 20%; **/
  /** width: 70%; **/
  /** min-width: 700px; **/
  display: inline;
}

.char {
  font-size: 19px !important;
  line-height: 1.58 !important;
  letter-spacing: -.003em !important;
}

.post-info {
  /** color: #aaa; **/
  color: #202124;
  /** font-family: Palatino,"Palatino LT STD","Palatino Linotype","Book Antiqua","Georgia",serif; **/
  letter-spacing: 0.5px;
  text-align: left;
  font-size: 16px;
  /** margin-left: 50%; **/
  margin-left: -24em;
  float: left;
  /** width: 24em; **/
  /** position: fixed; **/
}

.post-toc {
  /** color: #aaa; **/
  color: #202124;
  /** font-family: Palatino,"Palatino LT STD","Palatino Linotype","Book Antiqua","Georgia",serif; **/
  letter-spacing: 0.5px;
  text-align: left;
  font-size: 16px;
  margin-left: 40%;
  padding-left: 6em;
  /** float: right; **/
  /** width: 24em; **/
  position: fixed;
}

.post-date {
  color: #757575;
  font-size: 14px;
}

.post-info span {
  font-style: italic;
}

.post-title {
  color: #202124;
  /** font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif; **/
  font-size: 3rem;
  margin: 1rem 0;
  text-align: left;
  /** margin-left: 8em; **/
  margin-bottom: 1em;
}

.post-line {
  border-top: 0.4rem solid #353535;
  display: block;
  margin: 0 auto 3rem;
  width: 4rem;
}

.post-body {
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  /** margin-left: 24em; **/
  /** width: 50em; **/
  float: left;
  margin-top: -12px;
}

.highlight {
  background-color: #f9f9f9 !important;
  border-radius: 3px;
  line-height: 1.4;
  margin: 0 0 1rem;
  padding: 1rem;
  font-size: 0.9em;
}

blockquote {
  border-left: 0.25rem solid #e5e5e5;
  color: #979797;
  margin: .8rem 0;
  padding: 0rem 1rem;
  line-height: 1em;
}

.pagination {
  max-width: 700px;
  margin: 0 auto;
}

.doc {
  /** max-width: unset !important; **/
  /** padding: unset !important; **/
  width: 40%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 4em;
}

code {
  white-space: pre-wrap;
}

.highlight {
  margin: 0;
  padding: 0.5em;
}

.catalogue-title {
  line-height: 1.18182;
  font-size: 44px;
  letter-spacing: -.5px;
  font-weight: 400;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  overflow-wrap: normal;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #202124;
  font-weight: bold;
}

.catalogue-body {
  color: #414141;
  line-height: 1.66667;
  font-size: 18px;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

table, td {
  border-spacing: 0;
  border-collapse: collapse;
}

tr {
  border-top: 1px solid #c6cbd1;
}

th {
  border: 1px solid #3367d6;
  padding: 6px 13px;
  background-color: #3367d6;
  color: white;
}

td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

@media only screen and (max-width: 1300px) {
  main {
    /** padding-top: 6em; **/
    width: unset;
  }
  .doc {
    padding: 1em;
    width: unset;
    margin: unset;
  }
  .post {
    padding: 0;
    margin-left: unset;
  }
  .post-title, .post-body, .post-info {
    margin-left: 0;
    margin-bottom: 0;
    float: none;
  }
  .post-body {
    width: unset;
  }
  .post-info {
    /** margin-bottom: 2em; **/
    margin-top: 1em;  
    position: unset;
  }
  .title {
    margin-left: 0;
  }
  .toc {
    display: none;
  }
}

/**
* Create an invisible pseudo-element and make it the height of the
* sticky navbar so the jump takes you to a location above the link
*/
:target::before {
  content: "";
  display: block;
  margin-top: -80px;
  height: 80px;
  width: 1px;
}

a, a:visited, a:hover, a:active {
  color: blue;
}

.toc {
    /** position: fixed; **/
    /** left: 3em; **/
    font-size: 14px;
}

.toc ul {
  padding-inline-start: 1em;
  list-style-type: none;
}

.toc > ul {
  margin-left: -1em;
}
