---
layout: default
---

<div class="post">
  {% if page.title %}
    <h1 class="post-title">{{page.title}}</h1>
  {% endif %}
  <div class="post-info">
    <!--
    <div>
      {% if page.maintainer %}
      <a href="https://github.com/{{page.maintainer}}">@{{page.maintainer}}</a> (maintainer)
      {% endif %}
    </div>
    -->
  </div>
  <div class="post-body">
    {{ content | markdownify}}
  </div>
  <div class="post-toc">
    <!--
    <br>
    <a href="/">home</a>
    <br>
    <br>
    -->
    {% if page.created %}
    <div class="post-date">
      <time datetime="{{ page.created }}">{{page.created | date: "%B %d, %Y"}} (created)</time>
    </div>
    {% endif %}
    {% if page.updated %}
    <div class="post-date">
      <time datetime="{{ page.updated }}">{{page.updated | date: "%B %d, %Y"}} (last update)</time>
    </div>
    {% endif %}

    <br>
    
    <div class="toc">
      Table of contents
      {% include toc.html html=content %}
    </div>
  </div>
</div>

<!--
<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
-->

<script>
/**
 * AnchorJS v3.2.0 options and selector
 */

(function () {
  'use strict';

  anchors.options.placement = 'left';
  anchors.add('.post > h1, .post > h2, .post > h3, .post > h4, .post > h5, .post > h6');
})();
</script>
